<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer bg-inverse mt-5" data-th-fragment="footer">
	<a id="goToTop" href="#">
		<i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>
	</a>
    <div class="container">
        <p class="m-0 text-center">© 2018 <a href="http://blog.yuzh.xyz">blog.yuzh.xyz</a> |
        <a href="https://github.com/yuzh233/spring-boot-blog" target="_blank">项目仓库</a> | <a href="http://yuzh.xyz" target="_blank">开发记录</a> |
       <a href="http://www.miitbeian.gov.cn" target="_blank">湘ICP备 18020713号</a></p>
    </div>

    <!-- JavaScript -->
    <script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../../js/jquery.form.min.js" th:src="@{/js/jquery.form.min.js}"></script>
    <script src="../../js/tether.min.js" th:src="@{/js/tether.min.js}"></script>
    <script src="../../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../../js/nprogress.js" th:src="@{/js/nprogress.js}"></script>
    <script src="../../js/thinker-md.vendor.min.js" th:src="@{/js/thinker-md.vendor.min.js}"></script>
    <script src="../../js/jquery.tag-editor.min.js" th:src="@{/js/jquery.tag-editor.min.js}"></script>
    <script src="../../js/chosen.jquery.js" th:src="@{/js/chosen.jquery.js}"></script>
    <script src="../../js/toastr.min.js" th:src="@{/js/toastr.min.js}"></script>
    <script src="../../js/cropbox.js" th:src="@{/js/cropbox.js}"></script>
    <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="../../js/catalog-generator.js" th:src="@{/js/catalog-generator.js}"></script>
    <script src="../../js/bootstrap-tagsinput.js" th:src="@{/js/jquery.tagsinput.min.js}"></script>
 </footer>

</body>
</html>